<%- include('logoarea') %>

<h2>비트코인 가격</h2>
<h2><%= bitcoin %> USD</h2>
<h2>이더리움 가격</h2>
<h2><%= ethereum %> USD</h2>
<h2>김치프리미엄</h2>
<h2><%= kimchi %> %</h2>
<h2>이더/비트 교환비</h2>
<h2><%= exchange %> BTC/ETH</h2>